<%- include("head.partial.ejs") %>
<main>
  <nav>
    <a href="/cards">Powrót do listy kategorii</a>
  </nav>
  <h1><%= title %></h1>
  <% if (locals.cards) { %>
    <ul id="flashcards">
      <% category.cards.forEach(function(card){ %>
      <li>
        <%= card.front %> - <%= card.back %>
      </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>W tej kategorii nie ma żadnych fiszek. Dodaj nowe poniżej.</p>
  <% } %>
  <div>
    <h3>Nowa fiszka</h3>
    <%- include("forms/new_card.ejs") %>
  </div>
</main>

<%- include("foot.partial.ejs") %>
