<form class="hotelreview-action" action="/edit/<%= hotel.slug %>/<%= review.id %>" method="POST">
    <input type="text" name="front" id="hotelreview-<%= review.id %>-front" value="<%= review.front %>" required minlength="1" maxlength="500"> 
    -
    <input type="text" name="back" id="hotelreview-<%= review.id %>-back" value="<%= review.back %>" required minlength="1" maxlength="500"> 
    <button>Zapisz</button>
</form>