<%- include("head.partial.ejs") %>
<main>
  <nav>
    <a href="/cards">Powrót do listy kategorii</a>
  </nav>
  <h1><%= title %></h1>
  <div>
    <h3>Nowa kategoria</h3>
    <% if (locals.errors != null) {%>
    <ul id="errors">
      <% errors.forEach(function(error){ %>
      <li><%= error %></li>
      <% }) %>
    </ul>
    <% } %>
    <%- include("forms/new_category.ejs") %>
  </div>
</main>

<%- include("foot.partial.ejs") %>
