<%- include("head.partial.ejs") %>

<main>
  <h1><%= title %></h1>
  <% if (last_viewed_hotels?.length > 0) { %>
  <h2>Ostatnio przeglądane</h2>
  <ul id="recently_viewed">
    <% last_viewed_hotels.forEach(function(hotel){ %>
    <li><a href="/view/<%= hotel.slug %>"><%= hotel.name %></a></li>
    <% }) %>
  </ul>
  <% } /* (last_viewed_hotels.length > 0) */ %>
  <ul id="hotels">
    <% hotels.forEach(function(hotel){ %>
      <li>
        <a href="/view/<%= hotel.slug %>"><%= hotel.name %></a>
  
        <% if (user && user.is_admin) { %>
          <form action="/delete_hotel/<%= hotel.slug %>" method="POST" style="display:inline;">
            <button>Usuń hotel</button>
          </form>
        <% } %>
      </li>
    <% }) %>
  </ul>
  <% if (user && user.is_admin) { %>
    <a href="/new_hotel">Dodaj hotel</a>
<% } %>
</main>

<%- include("foot.partial.ejs") %>
