<%- include("head.partial.ejs") %>
<main>
  <h1><%= title %></h1>
  <div>
    <% if (locals.errors != null) {%>
    <ul id="errors">
      <% errors.forEach(function(error){ %>
      <li><%= error %></li>
      <% }) %>
    </ul>
    <% } %>
    <%- include("forms/edit_name.ejs") %>
    <% if (locals.hotel.reviews && locals.hotel.reviews.length > 0) { %>
      <ul id="hotelreviews">
        <% hotel.reviews.forEach(function(review){ %>
        <li>
          <%- include("forms/edit_review.ejs", {review, hotel}) %>
          <form class="hotelreview-action" action="/delete/<%= hotel.slug %>/<%= review.id %>" method="POST">
            <button>Usuń</button>
          </form>
        </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>Ten hotel nie ma jeszcze żadnych opinii..</p>
    <% } %>
  </div>
  <a href="/view/<%= hotel.slug %>">Powrót</a>
</main>

<%- include("foot.partial.ejs") %>
